%h1 Events

- if @upcoming_events.any?
  %h3 Upcoming
  %table#sample-table-1.table.table-striped.table-bordered.table-hover
    = render partial: "event_table_head"
    = render partial: "event", collection: @upcoming_events

-if @past_events.any?
  %h4 Past
  %table#sample-table-1.table.table-striped.table-bordered.table-hover
    = render partial: "event_table_head"
    = render partial: "event", collection: @past_events

%br
= link_to "Create Event", new_event_path, class: "btn btn-primary"
