%h2= @event.name
%h3= @event.location

%h4= "Start Date: #{@event.start_date.to_date if @event.start_date}"  # add decorators
%h4= "End Date:   #{@event.end_date.to_date if @event.end_date}"

= link_to "Edit Event", edit_event_path(@event), class: "fa fa-pencil-square-o bigger-125 btn btn-primary"
